/*
background - #1A1A1D
text '20' color - #C3073F
font - Segoe UI
*/

* {
  box-sizing: border-box;
}

/* elements */

body {
  font-family: "Segoe UI", sans-serif;
  background: #1a1a1d;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: -20px 0 50px; */
}

h1 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 45px;
}

.para {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  line-height: 30px;
}

span {
  font-size: 12px;
}

.link {
  color: #1b96f3;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0px 40px 0px;
}

.container {
  background: black;
  border-radius: 10px;
  box-shadow: 0px 0px 1 0px #1b96f3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

/* input */

input[type="text"]::placeholder {
  color: #115a92;
  font-weight: 600;
}

input[type="email"]::placeholder {
  color: #115a92;
  font-weight: 600;
}

input[type="password"]::placeholder {
  color: #115a92;
  font-weight: 600;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: #1b96f3;
}

/* form */
.form-container {
  position: absolute;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.form-container form {
  background: black;
  padding: 0 50px;
  height: 100%;
  color: #1b96f3;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container form input {
  color: #1b96f3;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.form-container input {
  background: #000;
  border-color: #000;
  border-bottom: 1px solid #1b96f3;
  padding: 12px 15px;
  margin: 12px 0;
  width: 100%;
}

.signup-form {
  overflow-x: hidden;
  overflow-y: auto;
}

.signup-form::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

.signup-form::-webkit-scrollbar-thumb {
  background-color: #1b96f3;
}

/* buttons */
.btn {
  border-radius: 20px;
  border: 2px solid #1b96f3;
  box-shadow: 0px 0px 20px#1b96f3;
  background: #000;
  color: #1b96f3;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 10px #1b96f3;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button .ghost {
  background: transparent;
  border-color: #fff;
}

#signup-btn {
  margin-top: 40px;
  margin-bottom: 40px;
}

#signin-btn {
  margin-top: 60px;
}

/* icons */
.sign-up-container i {
  display: none;
}

.fa-arrow-circle-left {
  font-size: 20px;
  color: #91cfff;
  position: absolute;
  top: 5%;
  left: 10%;
}

.fa-arrow-circle-left:hover {
  cursor: pointer;
}

/* signIn container */
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  margin-top: 50px;
}

/* signUp container */
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  overflow: auto;
}

/* signUp container */
.sign-up-container input:last-of-type {
  margin-bottom: 10px;
}

/* overlay container */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #000;
  background: linear-gradient(to right, #005c97, #363795) no-repeat 0 0 / cover;
  color: #49b0ff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel input {
  background: #000;
  border-radius: 20px;
  border: 2px solid#1b96f3;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  color: #1b96f3;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.overlay-right {
  right: 0%;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.register-now {
  display: none;
}

.error {
  font-size: 12px;
  color: rgb(255, 94, 94);
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
  font-style: italic;
}

/* //Animation */
/* Move signin to right */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* move overlay to left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring Sign Up over sign in */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 10;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@media only screen and (max-width: 768px) {
  .container {
    top: 55%;
    width: 600px;
    max-width: 100%;
    min-height: 400px;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .btn {
    border-radius: 5px;
    border: 2px solid #1b96f3;
    font-size: 10px;
    padding: 8px 8px;
    margin-top: 0px;
  }

  .form-container input {
    padding: 6px 7.5px;
    margin: 10px 0;
  }

  .form-container form input {
    font-size: 10px;
  }

  .sign-in-container {
    top: 10%;
  }

  .link {
    font-size: 8px;
    margin: 10px 0px 20px 0px;
  }

  .overlay-panel input {
    border-radius: 15px;
    padding: 6px 7.5px;
    margin: 8px 0;
    width: 90%;
    font-size: 8px;
  }

  .overlay-left i,
  .overlay-left h1 {
    margin-bottom: 50px;
  }

  .error {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    top: 55%;
    width: 250px;
    min-height: 80vh;
    font-size: 30px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .overlay-container {
    display: none;
  }

  .para {
    font-size: 15px;
  }

  .btn {
    border-radius: 5px;
    font-size: 8px;
    padding: 8px 8px;
    margin-top: 0px;
  }

  .form-container {
    top: 0%;
    width: 60%;
    margin: 0px 50px;
  }

  .form-container form {
    padding: 0px 0px;
    margin-top: 30px;
    height: auto;
  }

  .form-container input {
    padding: 6px 7.5px;
    margin: 7px 0;
  }

  .link {
    font-size: 8px;
    margin: 10px 0px 20px 0px;
  }

  .form-container form input {
    font-size: 9px;
  }

  .register-now {
    display: block;
    margin-top: 40px;
    text-align: center;
  }

  .register-now p {
    font-size: 8px;
    margin: 10px 0px 0px;
    color: #1b96f3;
  }

  .text {
    font-weight: 400;
    font-size: 8px;
  }

  .register-now button {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .sign-up-container {
    opacity: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }

  .signup-form h1 {
    margin: -70px 0px 20px 0px;
  }

  #signup-btn {
    margin: 40px 0px;
  }

  #signin-btn {
    margin-top: 20px;
  }

  .sign-up-container i {
    display: block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* .sign-in-container {
    margin-top: 50px;
  } */

  .error {
    font-size: 8px;
  }
}
