.nav-bar {
  color: white;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links .nav-link,
.login-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1%;
  padding: 5px 20px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 20px;
  font-size: 80%;
}

.login-btn-div {
  display: flex;
  flex-direction: row;
}

.selected {
  color: black !important;
  background-color: white;
}

.main-logo b {
  font-size: 180%;
}

.navbar-toggle-icon {
  display: none;
}

.mobile-menu {
  z-index: 10000;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(0, 1, 20, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
}
.close-menu{
  position: absolute;
  top: 30px;
  right: 30px;
}

.mobile-menu ul {
  list-style: none;
  position: absolute;
}

.mobile-menu ul li {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 20px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 20px;
}

@media only screen and (max-width: 609px) {
  .nav-links {
    display: none;
  }
  .navbar-toggle-icon {
    display: inline;
    margin-left: 20px;
  }

  .mobile-menu{
    display: flex;
  }
}
