.container {
    width: 1200px;
    margin: 0 auto;
  }
  
  .link {
    border: 1px solid #8bc7f5;
    padding: 0.75rem 2rem;
    border-radius: 100px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    color: #8bc7f5;
  }
  button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  button:focus {
    outline: none;
  }
  
  .link-active {
    background-color: #8bc7f5;
    color: #000;
    font-weight: 500;
  }
  a.link:hover{
    background-color: #8bc7f5;
    text-decoration: none;
    color: inherit
  }
  .hero-title {
    font-size: 3.2rem;
    text-align: center;
    margin: 3rem 0;
  }
  
  .hero-link-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 10%;
    justify-content: center;
  }
  
  .hero-link-container .link {
    margin: 1rem;
  }
  
  .e-card-container {
    margin: 3rem auto;
    width: 90%;
  }
  
  .e-card {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #000;
    margin: 1em 0;
    transition: all 0.2s ease-in-out;
    max-height: unset !important;
    box-shadow: 0 0 16px 0px #0dcaf0;
    width: 90%;
    margin: 2vw auto !important;
  }
  @media (min-width: 600px) {
    .e-card {
      max-height: 500px;
    }
  }
  @media (min-width: 1200px) {
    .e-card {
      max-height: 300px;
      margin: 2em 0;
    }
  }
  .e-card:hover {
    box-shadow: 8px 16px -4px rgb(0, 0, 0);
    transform: scale(1.015);
  }
  .e-card-text {
    /* padding: 5vw; */
    padding: 5em;
  }
  @media (min-width: 1200px) {
    .e-card-text {
      padding: 0;
    }
  }
  .e-card-text p {
    margin: 0 auto 2vw;
    font-size: 2vw;
    color: #FFF;
    line-height: 2.5rem;
  }
  .e-card img {
    width: 70%;
    height: auto;
    margin: auto;
  }


  .e-card-buttons button{
    padding: 0.7vw 2vw;
    margin: 0 auto 2vw;
    min-width: 50%;
  }

  .e-card-buttons button:hover{
    background-color: #0dcaf0;
    color: #131313;
  }

  .popup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    color: #000 !important ;
  }

  .popup {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    width: 450px;
  }
  .popup .link {
    color: #000 !important ;
    
  }
  .popup h1 {
    margin-top: 0;
  }
  .popup .link:hover {
    color: #fff !important ;
  }
  @media (max-width: 500px) {
    .popup {
      width: 300px;
    }
  }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 90%;
    }
    .container {
      width: 95%;
    }
    .e-card-img {
      width: 300px;
      min-height: 300px;
    }
  }
  
  .primary {
    background-color: #8bc7f5;
  }
  @media screen and (max-width: 750px) {
    html {
      font-size: 80%;
    }
  
    .e-card {
      flex-direction: column;
    }
    .e-card-img {
      width: 100%;
      max-height: 200px;
    }
    .e-card-text {
      padding: 2rem;
    }
    .e-card-text p {
      margin-bottom: 1rem;
    }
  }
  